/* Global Styles */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Allow text selection for input fields */
input, textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* Prevent zoom on mobile */
html {
  touch-action: pan-x pan-y;
  -ms-touch-action: pan-x pan-y;
}

body {
  overflow-x: hidden;
  touch-action: pan-x pan-y;
  -ms-touch-action: pan-x pan-y;
}